package components

import (
	"departement/models"
)

templ LoginPageComponent(user models.User) {
	<html>
		<head>
			<title>My App</title>
		</head>
		<body>
			<div id="app">
				<div>{ user.Username } </div>
				<div>jhdaojdiowj </div>
			</div>
		</body>
	</html>
}
